extends _include/structure/_layout.pug

block content
  main
      main
        section.hero
          .response
            .left
              .vertical
                article

                  h1 
                    span Entreprises de la Région 
                    span.region Guadeloupe 
                    span : Votre Pack Digital est à 0€ !

                  .description
                    ul.partners
                  
                      li.partner
                        +svg_region-guadeloupe

                      li.partner
                        +svg_feder

                      li.partner
                        +svg_union-europenne

                      li.partner
                        +svg_fonds-europeens

                      li.partner
                        +svg_francenum

                  
            .right   
              .vertical
                .card
                  .head
                    .vertical
                      h3 Votre demande ici
                      p Votre Pack Digital 100% financé par la Transition Numérique
                  .form
                    form#userForm(method='post', enctype='multipart/form-data', action='http://localhost:8084/')
                      #rsform_progress_3.rsformProgress
                      #rsform_error_3(style='display: none;')
                        p.formRed(style='font-size:9px;') Veullez remplir tous les champs du formulaire.
                      // Do not remove this ID, it is used to identify the page so that the pagination script can work correctly
                      fieldset#rsform_3_page_0.formContainer.formHidden
                        .form-row
                          .col-md-12
                            .form-group.rsform-block.rsform-block-pack-title
                              h3 Votre Pack Digital
                            | &#x9;&#x9;&#x9;
                            .form-group.row.rsform-block.rsform-block-packdigital
                              label.col-sm-3.control-label.formControlLabel(data-toggle='tooltip', title='') Composez votre Pack Digital :
                              | &#x9;&#x9;&#x9;&#x9;
                              .col-sm-9.formControls
                                div(aria-required='true')
                                  .form-check.form-check-inline.iconify
                                    input#packdigital0.iconed.rsform-checkbox.form-check-input(type='checkbox', checked='checked', name='form[packdigital][]', value='Site Internet Vitrine')
                                    |  
                                    label.form-check-label.checked(for='packdigital0') Site Internet Vitrine
                                  |  
                                  .form-check.form-check-inline.iconify
                                    input#packdigital1.iconed.rsform-checkbox.form-check-input(type='checkbox', name='form[packdigital][]', value='Site Internet E-Commerce')
                                    |  
                                    label.form-check-label(for='packdigital1') Site Internet E-Commerce
                                  |  
                                  .form-check.form-check-inline.iconify
                                    input#packdigital2.iconed.rsform-checkbox.form-check-input(type='checkbox', checked='checked', name='form[packdigital][]', value='CRM Devis/Facturation')
                                    |  
                                    label.form-check-label.checked(for='packdigital2') CRM Devis/Facturation
                                  |  
                                  .form-check.form-check-inline.iconify
                                    input#packdigital3.iconed.rsform-checkbox.form-check-input(type='checkbox', name='form[packdigital][]', value='Système de Paiement à distance')
                                    |  
                                    label.form-check-label(for='packdigital3') Syst&egrave;me de Paiement &agrave; distance
                                | &#x9;&#x9;&#x9;&#x9;&#x9;
                                div
                                  span.formValidation
                                    span#component23.formNoError Obligatoire
                            | &#x9;&#x9;&#x9;
                            .form-group.rsform-block.rsform-block-pricing
                              .pricing
                                table
                                  tbody
                                    tr.total
                                      td Votre Pack Digital co&ucirc;te :
                                      td.price
                                        .total_cost_txt 8,000.00 &euro;
                                    tr.aide
                                      td Aide Conseil R&eacute;gional (80%) :
                                      td.price
                                        .subvention_txt 6,400.00 &euro;
                                    tr.aide
                                      td OFFRE Pack RAC (20%) :
                                      td.price
                                        .rac_offer_txt 1,600.00 &euro;
                                    tr.rac
                                      td Reste &agrave; payer :
                                      td.price
                                        .total_pay_txt 0.00 &euro;
                        | &#x9;
                        .form-row
                          .col-md-12
                            .form-group.row.rsform-block.rsform-block-pb1
                              .col-sm-3.control-label.formControlLabel
                              | &#x9;&#x9;&#x9;&#x9;
                              .col-sm-9.formControls.btn-group
                                button#pb1Next.rsform-button.btn.btn-success(type='button', onclick='rsfp_changePage(3, 1, 3, 1, {"parent":"","field":"is-invalid"})') Continuer
                      // Do not remove this ID, it is used to identify the page so that the pagination script can work correctly
                      fieldset#rsform_3_page_1.formContainer.formHidden
                        .form-row
                          .col-md-12
                            .form-group.rsform-block.rsform-block-contact-title
                              h3 Vos informations de contact
                            | &#x9;&#x9;&#x9;
                            .form-group.row.rsform-block.rsform-block-siret
                              label.col-sm-3.control-label.formControlLabel(data-toggle='tooltip', title='', for='siret') Quel est le num&eacute;ro de SIRET ?
                              | &#x9;&#x9;&#x9;&#x9;
                              .col-sm-9.formControls
                                input#siret.rsform-input-box.form-control(type='text', value='', size='20', placeholder='0393939393', name='form[siret]', aria-required='true')
                                | &#x9;&#x9;&#x9;&#x9;&#x9;
                                div
                                  span.formValidation
                                    span#component34.formNoError Invalide
                            | &#x9;&#x9;&#x9;
                            .form-group.row.rsform-block.rsform-block-company-name
                              label.col-sm-3.control-label.formControlLabel(data-toggle='tooltip', title='', for='company-name') Quelle est la raison sociale de votre soci&eacute;t&eacute; ?
                              | &#x9;&#x9;&#x9;&#x9;
                              .col-sm-9.formControls
                                input#company-name.rsform-input-box.form-control(type='text', value='', size='20', placeholder='Quelle est la raison sociale de votre société ?', name='form[company-name]', aria-required='true')
                                | &#x9;&#x9;&#x9;&#x9;&#x9;
                                div
                                  span.formValidation
                                    span#component36.formNoError Le Siret est invalide
                            | &#x9;&#x9;&#x9;
                            .form-group.row.rsform-block.rsform-block-company-address.hidden
                              label.col-sm-3.control-label.formControlLabel(data-toggle='tooltip', title='', for='company-address') Quelle est l&apos;adresse de votre soci&eacute;t&eacute; ?
                              | &#x9;&#x9;&#x9;&#x9;
                              .col-sm-9.formControls
                                input#company-address.hidden.rsform-input-box.form-control(type='text', value='', size='20', name='form[company-address]')
                                | &#x9;&#x9;&#x9;&#x9;&#x9;
                                div
                                  span.formValidation
                                    span#component37.formNoError Invalid Input
                            | &#x9;&#x9;&#x9;
                            .form-group.row.rsform-block.rsform-block-company-zip.hidden
                              label.col-sm-3.control-label.formControlLabel(data-toggle='tooltip', title='', for='company-zip') Code postal
                              | &#x9;&#x9;&#x9;&#x9;
                              .col-sm-9.formControls
                                input#company-zip.hidden.rsform-input-box.form-control(type='text', value='', size='20', name='form[company-zip]')
                                | &#x9;&#x9;&#x9;&#x9;&#x9;
                                div
                                  span.formValidation
                                    span#component38.formNoError Invalid Input
                            | &#x9;&#x9;&#x9;
                            .form-group.row.rsform-block.rsform-block-company-city.hidden
                              label.col-sm-3.control-label.formControlLabel(data-toggle='tooltip', title='', for='company-city') Ville/Commune
                              | &#x9;&#x9;&#x9;&#x9;
                              .col-sm-9.formControls
                                input#company-city.hidden.rsform-input-box.form-control(type='text', value='', size='20', name='form[company-city]')
                                | &#x9;&#x9;&#x9;&#x9;&#x9;
                                div
                                  span.formValidation
                                    span#component39.formNoError Invalid Input
                            | &#x9;&#x9;&#x9;
                            .form-group.row.rsform-block.rsform-block-company-ceo.hidden
                              label.col-sm-3.control-label.formControlLabel(data-toggle='tooltip', title='', for='company-ceo') Dirigeant
                              | &#x9;&#x9;&#x9;&#x9;
                              .col-sm-9.formControls
                                input#company-ceo.hidden.rsform-input-box.form-control(type='text', value='', size='20', name='form[company-ceo]')
                                | &#x9;&#x9;&#x9;&#x9;&#x9;
                                div
                                  span.formValidation
                                    span#component40.formNoError Invalid Input
                            | &#x9;&#x9;&#x9;
                            .form-group.row.rsform-block.rsform-block-company-naf.hidden
                              label.col-sm-3.control-label.formControlLabel(data-toggle='tooltip', title='', for='company-naf') Code NAF
                              | &#x9;&#x9;&#x9;&#x9;
                              .col-sm-9.formControls
                                input#company-naf.hidden.rsform-input-box.form-control(type='text', value='', size='20', name='form[company-naf]')
                                | &#x9;&#x9;&#x9;&#x9;&#x9;
                                div
                                  span.formValidation
                                    span#component41.formNoError Invalid Input
                            | &#x9;&#x9;&#x9;
                            .form-group.row.rsform-block.rsform-block-name
                              label.col-sm-3.control-label.formControlLabel(data-toggle='tooltip', title='', for='name') Quel est votre nom complet ?
                              | &#x9;&#x9;&#x9;&#x9;
                              .col-sm-9.formControls
                                input#name.rsform-input-box.form-control(type='text', value='', size='20', placeholder='Quel est votre nom complet ?', name='form[name]', aria-required='true')
                                | &#x9;&#x9;&#x9;&#x9;&#x9;
                                div
                                  span.formValidation
                                    span#component42.formNoError Obligatoire
                            | &#x9;&#x9;&#x9;
                            .form-group.row.rsform-block.rsform-block-email
                              label.col-sm-3.control-label.formControlLabel(data-toggle='tooltip', title='', for='email') Quel est votre adresse email ?
                              | &#x9;&#x9;&#x9;&#x9;
                              .col-sm-9.formControls
                                input#email.rsform-input-box.form-control(type='text', value='', size='20', placeholder='Quel est votre adresse email ?', name='form[email]', aria-required='true')
                                | &#x9;&#x9;&#x9;&#x9;&#x9;
                                div
                                  span.formValidation
                                    span#component43.formNoError Obligatoire
                            | &#x9;&#x9;&#x9;
                            .form-group.row.rsform-block.rsform-block-phone
                              label.col-sm-3.control-label.formControlLabel(data-toggle='tooltip', title='', for='phone') Quel est votre num&eacute;ro de t&eacute;l&eacute;phone ?
                              | &#x9;&#x9;&#x9;&#x9;
                              .col-sm-9.formControls
                                input#phone.rsform-input-box.form-control(type='text', value='', size='20', placeholder='Quel est votre numéro de téléphone ?', name='form[phone]', aria-required='true')
                                | &#x9;&#x9;&#x9;&#x9;&#x9;
                                div
                                  span.formValidation
                                    span#component44.formNoError Obligatoire
                        | &#x9;
                        .form-row
                          .col-md-12
                            .form-group.row.rsform-block.rsform-block-pb2
                              .col-sm-3.control-label.formControlLabel
                              | &#x9;&#x9;&#x9;&#x9;
                              .col-sm-9.formControls.btn-group
                                button#pb2Prev.rsform-button.btn.btn-warning(type='button', onclick='rsfp_changePage(3, 0, 3)') Retour
                                button#pb2Next.rsform-button.btn.btn-success(type='button', onclick='rsfp_changePage(3, 2, 3, 1, {"parent":"","field":"is-invalid"})') Continuer
                      // Do not remove this ID, it is used to identify the page so that the pagination script can work correctly
                      fieldset#rsform_3_page_2.formContainer
                        .form-row
                          .col-md-12
                            .form-group.rsform-block.rsform-block-aidfile-title
                              h3 Votre Dossier d&apos;Aide Num&eacute;rique
                            | &#x9;&#x9;&#x9;
                            .form-group.row.rsform-block.rsform-block-kbis
                              label.col-sm-3.control-label.formControlLabel(data-toggle='tooltip', title='', for='kbis') Extrait KBIS de votre Soci&eacute;t&eacute;
                              | &#x9;&#x9;&#x9;&#x9;
                              .col-sm-9.formControls
                                input#kbis.rsform-upload-box.form-control-file(type='file', name='form[kbis]', aria-required='true', data-rsfp-required='true')
                                | &#x9;&#x9;&#x9;&#x9;&#x9;
                                div
                                  span.formValidation
                                    span#component49.formNoError Obligatoire
                            | &#x9;&#x9;&#x9;
                            .form-group.row.rsform-block.rsform-block-id-ceo-recto
                              label.col-sm-3.control-label.formControlLabel(data-toggle='tooltip', title='', for='id_ceo_recto') Pi&egrave;ce d&apos;identit&eacute; du Dirigeant (Recto)
                              | &#x9;&#x9;&#x9;&#x9;
                              .col-sm-9.formControls
                                input#id_ceo_recto.rsform-upload-box.form-control-file(type='file', name='form[id_ceo_recto]', aria-required='true', data-rsfp-required='true')
                                | &#x9;&#x9;&#x9;&#x9;&#x9;
                                div
                                  span.formValidation
                                    span#component50.formNoError Obligatoire
                            | &#x9;&#x9;&#x9;
                            .form-group.row.rsform-block.rsform-block-id-ceo-verso
                              label.col-sm-3.control-label.formControlLabel(data-toggle='tooltip', title='', for='id_ceo_verso') Pi&egrave;ce d&apos;identit&eacute; du Dirigeant (Verso)
                              | &#x9;&#x9;&#x9;&#x9;
                              .col-sm-9.formControls
                                input#id_ceo_verso.rsform-upload-box.form-control-file(type='file', name='form[id_ceo_verso]', aria-required='true', data-rsfp-required='true')
                                | &#x9;&#x9;&#x9;&#x9;&#x9;
                                div
                                  span.formValidation
                                    span#component51.formNoError  Obligatoire
                        | &#x9;
                        .form-row
                          .col-md-12
                            .form-group.row.rsform-block.rsform-block-pb3
                              .col-sm-3.control-label.formControlLabel
                              | &#x9;&#x9;&#x9;&#x9;
                              .col-sm-9.formControls.btn-group
                                button#pb3Prev.rsform-button.btn.btn-warning(type='button', onclick='rsfp_changePage(3, 1, 3)') Retour
                                button#pb3Next.rsform-button.btn.btn-success(type='button', onclick='rsfp_changePage(3, 3, 3, 1, {"parent":"","field":"is-invalid"})') Continuer
                      // Do not remove this ID, it is used to identify the page so that the pagination script can work correctly
                      fieldset#rsform_3_page_3.formContainer.formHidden
                        .form-row
                          .col-md-12
                            .form-group.row.rsform-block.rsform-block-cgv
                              label.col-sm-3.control-label.formControlLabel(data-toggle='tooltip', title='')
                              | &#x9;&#x9;&#x9;&#x9;
                              .col-sm-9.formControls
                                div(aria-required='true')
                                  .form-check.form-check-inline.toggle
                                    input#cgv0.toggle-switch__input.rsform-checkbox.form-check-input(type='checkbox', name='form[cgv][]', value="J'accepte les conditions générales d'utilisation.")
                                    span.toggle-switch__slider
                                    |  
                                    label.form-check-label.toggle-switch(for='cgv0') J&apos;accepte les conditions g&eacute;n&eacute;rales d&apos;utilisation.
                                | &#x9;&#x9;&#x9;&#x9;&#x9;
                                div
                                  span.formValidation
                                    span#component56.formNoError Obligatoire
                            | &#x9;&#x9;&#x9;
                            .form-group.row.rsform-block.rsform-block-mandat
                              label.col-sm-3.control-label.formControlLabel(data-toggle='tooltip', title='')
                              | &#x9;&#x9;&#x9;&#x9;
                              .col-sm-9.formControls
                                div(aria-required='true')
                                  .form-check.form-check-inline.toggle
                                    input#mandat0.toggle-switch__input.rsform-checkbox.form-check-input(type='checkbox', name='form[mandat][]', value="J'autorise et mandate la plateforme à effectuer les démarches relatives à la demande de subventions pour la transition digitale de ma société.")
                                    span.toggle-switch__slider
                                    |  
                                    label.form-check-label.toggle-switch(for='mandat0')
                                      | J&apos;autorise et mandate la plateforme &agrave; effectuer les d&eacute;marches relatives &agrave; la demande de subventions pour la transition digitale de ma soci&eacute;t&eacute;.
                                | &#x9;&#x9;&#x9;&#x9;&#x9;
                                div
                                  span.formValidation
                                    span#component57.formNoError Obligatoire
                            | &#x9;&#x9;&#x9;
                            .form-group.row.rsform-block.rsform-block-aid-limit
                              label.col-sm-3.control-label.formControlLabel(data-toggle='tooltip', title='')
                              | &#x9;&#x9;&#x9;&#x9;
                              .col-sm-9.formControls
                                div(aria-required='true')
                                  .form-check.form-check-inline.toggle
                                    input#aid_limit0.toggle-switch__input.rsform-checkbox.form-check-input(type='checkbox', name='form[aid_limit][]', value="J'atteste sur l'honneur que ma société n'a pas fait l'objet d'octroi de subventions supérieures à 200.000€ durant ces 3 dernières années.")
                                    span.toggle-switch__slider
                                    |  
                                    label.form-check-label.toggle-switch(for='aid_limit0')
                                      | J&apos;atteste sur l&apos;honneur que ma soci&eacute;t&eacute; n&apos;a pas fait l&apos;objet d&apos;octroi de subventions sup&eacute;rieures &agrave; 200.000&euro; durant ces 3 derni&egrave;res ann&eacute;es.
                                | &#x9;&#x9;&#x9;&#x9;&#x9;
                                div
                                  span.formValidation
                                    span#component58.formNoError Obligatoire
                            | &#x9;&#x9;&#x9;
                            .form-group.rsform-block.rsform-block-ceo-signature
                              canvas#ceo-signature(width='200px', height='200', style='border: 1px solid rgb(0, 0, 0); touch-action: none;')
                              |                     
                              button#clear-signature(type='button') Effacer la signature
                            | &#x9;&#x9;&#x9;
                            .form-group.row.rsform-block.rsform-block-signature
                              label.col-sm-3.control-label.formControlLabel(data-toggle='tooltip', title='', for='signature')
                              | &#x9;&#x9;&#x9;&#x9;
                              .col-sm-9.formControls
                                input#signature.rsform-input-box.form-control(type='text', value='', size='20', name='form[signature]', aria-required='true')
                                | &#x9;&#x9;&#x9;&#x9;&#x9;
                                div
                                  span.formValidation
                                    span#component61.formNoError Obligatoire
                            | &#x9;&#x9;&#x9;
                            .form-group.row.rsform-block.rsform-block-submit
                              label.col-sm-3.control-label.formControlLabel(data-toggle='tooltip', title='')
                              | &#x9;&#x9;&#x9;&#x9;
                              .col-sm-9.formControls
                                button#submitPrev.rsform-button-prev.btn.btn-warning(type='button', onclick='rsfp_changePage(3, 2, 3)') &lt; Prev
                                button#submit.rsform-submit-button.btn.btn-primary(type='submit', name='form[submit]') Envoyer
                                | &#x9;&#x9;&#x9;&#x9;&#x9;
                                div
                                  span.formValidation
                      | &#x9;&#x9;&#x9;&#x9;&#x9;
                      input#total_cost(type='hidden', name='form[total_cost]', value='8,000.00')
                      | &#x9;&#x9;&#x9;&#x9;&#x9;
                      input#subvention(type='hidden', name='form[subvention]', value='6,400.00')
                      | &#x9;&#x9;&#x9;&#x9;&#x9;
                      input#rac_offer(type='hidden', name='form[rac_offer]', value='1,600.00')
                      | &#x9;&#x9;&#x9;&#x9;&#x9;
                      input#total_pay(type='hidden', name='form[total_pay]', value='0.00')
                      input(type='hidden', name='form[formId]', value='3')
                      script(type='text/javascript').
                        function rsfp_showProgress_3(page) {
                        if (page == 0) document.getElementById('rsform_progress_3').innerHTML = '';if (page == 1) document.getElementById('rsform_progress_3').innerHTML = '';if (page == 2) document.getElementById('rsform_progress_3').innerHTML = '';if (page == 3) document.getElementById('rsform_progress_3').innerHTML = '';
                        }
                      input(type='hidden', name='ea4531857fe7860d0ebe634c2dfb85bf', value='1')

        section(style='display:none;')
          .response
            article
              
              h2 Qu'est-ce qu'un Pack Digital ?
              
              .description
                
                p Un Pack Digital est un bouquet de solutions digitales qui vous permettra d'assurer la Transition Numérique de votre établissement et d'accroitre les performances de votre activité professionnelle avec des technologies actuelles, tout en réduisant l'empreinte carbone de votre entreprise.
                
                p Si l'adoption partielle de solutions numériques par les entreprises contribue à leur développement, elle ne permet pas de mettre en œuvre une véritable transformation numérique. Celle-ci implique, en effet, de repenser l'ensemble de sa stratégie de l'entreprise à l’aune du numérique. Pour ce faire, cela nécessite :

                
                ul.list
                    li 
                      h4 un Audit numérique
                    li 
                      h4 des Solutions digitales certifiées sur-mesure
                    li 
                      h4 des Alternatives "Offline"
                    li  
                      h4 de la Présence et de la Visibilité
                    li 
                      h4 un Workflow minimalisé
                    li 
                      h4 une Stratégie E-Marketing
                    

              .buttons
                
                button
                  a(href='#') Lorem ipsum
                button.empty
                  a(href='#') Lorem ipsum
        section.dark(style='display:none;')
          .response
            article
              
              h2 Que contient le Pack Digital ?
              
              .description
                p Le Pack Digital est composé de tous les outils indispensables à votre plongeon numérique. Il répond immédiatement aux besoins liés à la Production, la Visibilité et la Sécurité de votre environnement professionnel.
                
                ul.list.detailed

               
                    li 
                      h4 Un Site Internet E-VITRINE ou E-COMMERCE
                      p Donec aliquet lobortis massa in vulputate. Interdum et malesuada fames ac ante ipsum primis in faucibus.
                    
                    li 
                      h4 Un logiciel sur-mesure de E-DEVIS & E-FACTURATION
                      p Donec aliquet lobortis massa in vulputate. Interdum et malesuada fames ac ante ipsum primis in faucibus.
                    li 
                      h4 Un Système de E-PAIEMENT à distance
                      p Donec aliquet lobortis massa in vulputate. Interdum et malesuada fames ac ante ipsum primis in faucibus.
                    li 
                      h4 des SAUVEGARDES quotidiennes automatisées
                      p Donec aliquet lobortis massa in vulputate. Interdum et malesuada fames ac ante ipsum primis in faucibus.
              .buttons
                
                button
                  a(href='#') Lorem ipsum
                button.empty
                  a(href='#') Lorem ipsum      

        section(style='display:none;')
          .response
            article
              
              h2 Boostez votre activité avec des technologies actuelles 100% certifiées, flexibles et évolutives !
              
              .description
                p Les solutions du Pack Digital sont développées par des agences avant-gardistes et conscientes des enjeux techniques auxquels font face les entreprises. C'est la raison pour laquelle, des technologies Open-source et actuelles sont utilisées pour répondre à vos besoins numériques.
                
                ul.technos 
                  
                    li.techno
                      +svg_wordpress
                    li.techno
                      +svg_joomla
                    li.techno
                      +svg_drupal
                    li.techno
                      +svg_prestashop
                    li.techno
                      +svg_shopify
                    li.techno
                      +svg_frappe
        section.blue(style='display:none;')
          .response
            article
              
              h2 Qui finance le Pack Digital à 0€ ?
              
              .description
                p Les solutions du Pack Digital sont développées par des agences avant-gardistes et conscientes des enjeux techniques auxquels font face les entreprises. C'est la raison pour laquelle, des technologies Open-source et actuelles sont utilisées pour répondre à vos besoins numériques.
                
                ul.partners.detailed
                  
                      li.partner
                        .visual
                          +svg_region-guadeloupe
                        .txt
                          h4 Conseil Régional de Guadeloupe
                          p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque non euismod diam. Vivamus pharetra vestibulum nulla.


                      li.partner
                        .visual
                          +svg_feder
                        .txt
                          h4 FEDER
                          p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque non euismod diam. Vivamus pharetra vestibulum nulla.


                      li.partner
                        .visual
                          +svg_union-europenne
                        .txt
                          h4 Union Européenne
                          p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque non euismod diam. Vivamus pharetra vestibulum nulla.


                      li.partner
                        .visual
                          +svg_fonds-europeens
                        .txt
                          h4 Fonds Européens
                          p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque non euismod diam. Vivamus pharetra vestibulum nulla.

      
        section.hero.little(style='display:none;')
          .response
            
                article

                  h5 
                    span Ce qu'ils en  
                    span.region pensent
                    span ...
                  
                  .description.flexslider
                    ul.comments.slides
                      each i in new Array(6)
                        li.comment.slide
                          .txt Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque non euismod diam. Vivamus pharetra vestibulum nulla.
                          .author Martin J. (Lamentin)
                  

                  

                