footer
    .menu
        ul.parent
                li.parent 
                    a(href='') Nos solutions digitales
                    ul.child
                        li.child
                            a(href='') Audit de transition digitale
                        li.child
                            a(href='') Site internet Vitrine 
                        li.child
                            a(href='') Référencement naturel 
                        li.child
                            a(href='') Publicité digitale

                li.parent 
                    a(href='') Dans votre Région
                    ul.child
                            li.child
                                a(href='') Auvergne-Rhône-Alpes
                            li.child
                                a(href='') Bourgogne-Franche-Comté
                            li.child
                                a(href='') Bretagne
                            li.child
                                a(href='') Centre-Val de Loire
                            li.child
                                a(href='') Corse
                            li.child
                                a(href='') Grand Est
                            li.child
                                a(href='') Hauts-de-France
                            li.child
                                a(href='') Île-de-France
                            li.child
                                a(href='') Normandie
                            li.child
                                a(href='') Nouvelle-Aquitaine
                            li.child
                                a(href='') Occitanie
                            li.child
                                a(href='') Pays de la Loire
                            li.child
                                a(href='') Provence-Alpes-Côte d'Azur
                            li.child
                                a(href='') Guadeloupe
                            li.child
                                a(href='') Guyane
                            li.child
                                a(href='') Martinique
                            li.child
                                a(href='') La Réunion
                            li.child
                                a(href='') Mayotte
                li.parent 
                    a(href='') Informations pratiques
                    ul.child
                        li.child
                            a(href='') Qui sommes-nous ?
                        li.child
                            a(href='') Conditions générales
                        li.child
                            a(href='') Cookies 
                        li.child
                            a(href='') Confidentialité
                        li.child
                            a(href='') Crédits
                        
    .credits © 2024 Pack Digital. Tous droits réservés.                  

