header
    .logo
      + svg-logo
    .menu 
      ul.parent
        li.parent 
          a(href='#') Le Pack Digital
        li.parent 
          a(href='#') Comment ça marche ?
        li.parent 
          a(href='#') Qui finance ?
        li.parent 
          a(href='#') Votre demande
    .icons 
      .icon.empty
        a(href="#")
          span.material-symbols-outlined
            | question_mark
      .icon
        a(href="#")
          span.material-symbols-outlined
            | call