mixin svg-logo
    svg#logo(version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 457.5 310' style='enable-background:new 0 0 457.5 310;' xml:space='preserve')
        g
          path(d='M78.65,43.12c4.66,5.11,6.99,11.85,6.99,20.21c0,8.36-2.33,15.09-6.99,20.21c-4.66,5.11-10.76,7.67-18.29,7.67\
          c-5.87,0-10.67-1.97-14.4-5.91v21.97H23.68V37.01h22.28v4.35c3.73-3.94,8.53-5.91,14.4-5.91C67.89,35.45,73.98,38.01,78.65,43.12z\
          M60.93,70.06c1.55-1.87,2.33-4.11,2.33-6.74s-0.78-4.87-2.33-6.74c-1.55-1.87-3.64-2.8-6.27-2.8c-2.56,0-4.65,0.93-6.27,2.8\
          c-1.62,1.87-2.44,4.11-2.44,6.74s0.81,4.87,2.44,6.74s3.71,2.8,6.27,2.8C57.28,72.86,59.37,71.93,60.93,70.06z')
          path(d='M150.71,89.65h-22.28V85.3c-3.73,3.94-8.53,5.91-14.4,5.91c-7.53,0-13.63-2.56-18.29-7.67s-6.99-11.85-6.99-20.21\
          s2.33-15.09,6.99-20.21s10.76-7.67,18.29-7.67c5.87,0,10.67,1.97,14.4,5.91v-4.35h22.28V89.65z M126,70.06\
          c1.62-1.87,2.44-4.11,2.44-6.74s-0.81-4.87-2.44-6.74s-3.71-2.8-6.27-2.8c-2.63,0-4.71,0.93-6.27,2.8\
          c-1.55,1.87-2.33,4.11-2.33,6.74s0.78,4.87,2.33,6.74c1.55,1.87,3.64,2.8,6.27,2.8C122.28,72.86,124.37,71.93,126,70.06z')
          path(d='M213.5,69.03c-0.9,6.63-3.97,11.99-9.22,16.06c-5.25,4.08-11.47,6.11-18.65,6.11c-8.29,0-15.32-2.61-21.09-7.82\
          c-5.77-5.21-8.65-11.9-8.65-20.05s2.88-14.83,8.65-20.05c5.77-5.22,12.8-7.82,21.09-7.82c7.18,0,13.38,2,18.6,6.01\
          s8.27,9.29,9.17,15.85l-20.21,3.73c-0.35-2.28-1.21-4.06-2.59-5.34s-3.04-1.92-4.97-1.92c-2.49,0-4.51,0.93-6.06,2.8\
          c-1.55,1.87-2.33,4.11-2.33,6.74s0.78,4.87,2.33,6.74c1.55,1.87,3.58,2.8,6.06,2.8c1.93,0,3.59-0.66,4.97-1.97s2.25-3.11,2.59-5.39\
          L213.5,69.03z')
          path(d='M255.36,89.65l-11.29-15.96h-3.11v15.96h-22.28V15.04h22.28V54h1.97l12.23-16.99h25.7l-18.65,24.97l20.31,27.67H255.36z')
          path(d='M282.51,69.96V51.72h35.02v18.24H282.51z')
          path(d='M83.57,179.65H61.29v-4.35c-3.73,3.94-8.53,5.91-14.4,5.91c-7.53,0-13.63-2.56-18.29-7.67\
          c-4.66-5.11-6.99-11.85-6.99-20.21s2.33-15.09,6.99-20.21s10.76-7.67,18.29-7.67c5.87,0,10.67,1.97,14.4,5.91v-26.32h22.28V179.65z\
          M58.86,160.06c1.62-1.87,2.44-4.11,2.44-6.74s-0.81-4.87-2.44-6.74s-3.71-2.8-6.27-2.8c-2.63,0-4.71,0.93-6.27,2.8\
          c-1.55,1.87-2.33,4.11-2.33,6.74s0.78,4.87,2.33,6.74c1.55,1.87,3.64,2.8,6.27,2.8C55.14,162.86,57.23,161.93,58.86,160.06z')
          path(d='M111.7,103.43c2.31,2.31,3.47,5.09,3.47,8.34c0,3.39-1.16,6.2-3.47,8.45s-5.23,3.37-8.76,3.37c-3.52,0-6.42-1.12-8.7-3.37\
          s-3.42-5.06-3.42-8.45c0-3.25,1.14-6.03,3.42-8.34s5.18-3.47,8.7-3.47C106.47,99.96,109.38,101.12,111.7,103.43z M91.85,179.65\
          v-52.64h22.28v52.64H91.85z')
          path(d='M182.21,174.15c0,7.81-3.09,13.96-9.27,18.45c-6.18,4.49-13.83,6.74-22.95,6.74c-12.85,0-22.11-4.97-27.77-14.92\
          l19.07-5.49c1.66,1.8,3.11,2.95,4.35,3.47s2.62,0.78,4.14,0.78c2.9,0,5.32-0.73,7.25-2.18c1.93-1.45,2.9-3.73,2.9-6.84v-3\
          c-3.52,3.73-8.32,5.6-14.4,5.6c-7.53,0-13.61-2.37-18.24-7.1s-6.94-11-6.94-18.81c0-7.6,2.31-13.73,6.94-18.39\
          c4.63-4.66,10.71-6.99,18.24-6.99c6.08,0,10.88,1.83,14.4,5.49v-3.94h22.28V174.15z M157.45,156.95c1.59-1.73,2.38-3.76,2.38-6.11\
          c0-2.42-0.79-4.47-2.38-6.17s-3.66-2.54-6.22-2.54c-2.62,0-4.71,0.85-6.27,2.54c-1.55,1.69-2.33,3.75-2.33,6.17\
          s0.78,4.47,2.33,6.17c1.55,1.69,3.64,2.54,6.27,2.54C153.78,159.54,155.86,158.68,157.45,156.95z')
          path(d='M210.34,103.43c2.31,2.31,3.47,5.09,3.47,8.34c0,3.39-1.16,6.2-3.47,8.45s-5.23,3.37-8.76,3.37\
          c-3.52,0-6.42-1.12-8.71-3.37c-2.28-2.25-3.42-5.06-3.42-8.45c0-3.25,1.14-6.03,3.42-8.34s5.18-3.47,8.71-3.47\
          C205.11,99.96,208.02,101.12,210.34,103.43z M190.5,179.65v-52.64h22.28v52.64H190.5z')
          path(d='M261.47,177.37c-4.77,2.56-9.98,3.83-15.65,3.83c-7.05,0-12.4-1.88-16.06-5.65s-5.49-8.89-5.49-15.39V144.1h-6.32V127h6.32\
          v-14.71h22.28V127h12.33v17.1h-12.33v13.26c0,1.8,0.45,3.07,1.35,3.83c0.9,0.76,2.31,1.14,4.25,1.14c2.28,0,4.14-0.42,5.6-1.24\
          L261.47,177.37z')
          path(d='M324.47,179.65H302.2v-4.35c-3.73,3.94-8.53,5.91-14.4,5.91c-7.53,0-13.63-2.56-18.29-7.67\
          c-4.66-5.11-6.99-11.85-6.99-20.21s2.33-15.09,6.99-20.21s10.76-7.67,18.29-7.67c5.87,0,10.67,1.97,14.4,5.91v-4.35h22.28v52.64\
          H324.47z M299.76,160.06c1.62-1.87,2.44-4.11,2.44-6.74s-0.81-4.87-2.44-6.74s-3.71-2.8-6.27-2.8c-2.62,0-4.71,0.93-6.27,2.8\
          c-1.55,1.87-2.33,4.11-2.33,6.74s0.78,4.87,2.33,6.74s3.64,2.8,6.27,2.8C296.05,162.86,298.14,161.93,299.76,160.06z')
          path(d='M331.72,179.65v-74.61H354v74.61H331.72z')
          path(d='M37.25,248.77c-1.84,0.99-3.67,1.48-5.48,1.48c-2.53,0-4.5-0.68-5.9-2.04c-1.4-1.36-2.1-3.35-2.1-5.96v-7.6h-3.64v-5.08\
          h3.64v-5.92h6.4v5.92h5.92v5.08h-5.92v6.96c0,1.95,0.89,2.92,2.68,2.92c1.01,0,1.99-0.27,2.92-0.8L37.25,248.77z')
          path(d='M54.45,229.45l-0.28,6.4h-1.16c-4.61,0-6.92,2.51-6.92,7.52v6.28h-6.4v-20.08h6.4v3.84c1.65-2.75,3.96-4.12,6.92-4.12\
          C53.54,229.29,54.02,229.34,54.45,229.45z')
          path(d='M78.17,249.65h-6.4v-1.6c-1.63,1.47-3.71,2.2-6.24,2.2c-2.72,0-5.03-0.99-6.94-2.98s-2.86-4.54-2.86-7.66\
          c0-3.09,0.95-5.64,2.86-7.64s4.22-3,6.94-3c2.53,0,4.61,0.73,6.24,2.2v-1.6h6.4V249.65z M70.31,243.35\
          c0.97-0.97,1.46-2.22,1.46-3.74c0-1.49-0.49-2.73-1.46-3.72s-2.13-1.48-3.46-1.48c-1.41,0-2.57,0.49-3.48,1.46\
          s-1.36,2.22-1.36,3.74c0,1.55,0.45,2.8,1.36,3.76c0.91,0.96,2.07,1.44,3.48,1.44C68.18,244.81,69.33,244.32,70.31,243.35z')
          path(d='M101.03,231.27c1.43,1.53,2.14,3.55,2.14,6.06v12.32h-6.36v-10.96c0-1.17-0.32-2.13-0.96-2.86\
          c-0.64-0.73-1.47-1.1-2.48-1.1c-1.31,0-2.33,0.46-3.06,1.38s-1.1,2.33-1.1,4.22v9.32h-6.4v-20.08h6.4v1.92\
          c1.6-1.68,3.65-2.52,6.16-2.52C97.71,228.97,99.6,229.74,101.03,231.27z')
          path(d='M112.41,243.13c0.27,1.57,1.45,2.36,3.56,2.36c0.8,0,1.43-0.15,1.9-0.46s0.7-0.69,0.7-1.14c0-0.75-0.67-1.24-2-1.48\
          l-4.08-0.8c-3.89-0.72-5.84-2.67-5.84-5.84c0-2.05,0.8-3.7,2.4-4.94s3.68-1.86,6.24-1.86c2.45,0,4.49,0.52,6.1,1.56\
          s2.62,2.44,3.02,4.2l-5.84,1.16c-0.11-0.67-0.46-1.23-1.06-1.68c-0.6-0.45-1.37-0.68-2.3-0.68c-0.8,0-1.38,0.15-1.74,0.46\
          s-0.54,0.67-0.54,1.1c0,0.72,0.51,1.19,1.52,1.4l4.72,0.96c1.84,0.4,3.23,1.13,4.16,2.18c0.93,1.05,1.4,2.34,1.4,3.86\
          c0,2.16-0.84,3.83-2.52,5s-3.88,1.76-6.6,1.76c-2.53,0-4.66-0.49-6.38-1.46s-2.74-2.43-3.06-4.38L112.41,243.13z')
          path(d='M134.31,221.09c0.71,0.72,1.06,1.57,1.06,2.56c0,1.01-0.35,1.86-1.06,2.54s-1.59,1.02-2.66,1.02s-1.95-0.34-2.64-1.02\
          s-1.04-1.53-1.04-2.54s0.35-1.87,1.04-2.58s1.57-1.06,2.64-1.06S133.6,220.37,134.31,221.09z M128.45,249.65v-20.08h6.4v20.08\
          H128.45z')
          path(d='M154.69,248.77c-1.84,0.99-3.67,1.48-5.48,1.48c-2.53,0-4.5-0.68-5.9-2.04c-1.4-1.36-2.1-3.35-2.1-5.96v-7.6h-3.64v-5.08\
          h3.64v-5.92h6.4v5.92h5.92v5.08h-5.92v6.96c0,1.95,0.89,2.92,2.68,2.92c1.01,0,1.99-0.27,2.92-0.8L154.69,248.77z')
          path(d='M163.31,221.09c0.71,0.72,1.06,1.57,1.06,2.56c0,1.01-0.35,1.86-1.06,2.54s-1.59,1.02-2.66,1.02s-1.95-0.34-2.64-1.02\
          s-1.04-1.53-1.04-2.54s0.35-1.87,1.04-2.58c0.69-0.71,1.57-1.06,2.64-1.06S162.6,220.37,163.31,221.09z M157.45,249.65v-20.08h6.4\
          v20.08H157.45z')
          path(d='M186.4,232.01c2.13,1.97,3.2,4.51,3.2,7.6c0,3.12-1.07,5.67-3.2,7.64c-2.13,1.97-4.73,2.96-7.8,2.96\
          c-3.12,0-5.75-0.99-7.9-2.96s-3.22-4.52-3.22-7.64c0-3.09,1.07-5.63,3.22-7.6s4.78-2.96,7.9-2.96\
          C181.67,229.05,184.27,230.04,186.4,232.01z M182.01,243.35c0.96-0.97,1.44-2.22,1.44-3.74s-0.49-2.77-1.46-3.74\
          s-2.1-1.46-3.38-1.46c-1.33,0-2.49,0.49-3.48,1.46c-0.99,0.97-1.48,2.22-1.48,3.74s0.49,2.77,1.46,3.74s2.14,1.46,3.5,1.46\
          C179.91,244.81,181.05,244.32,182.01,243.35z')
          path(d='M211.14,231.27c1.43,1.53,2.14,3.55,2.14,6.06v12.32h-6.36v-10.96c0-1.17-0.32-2.13-0.96-2.86\
          c-0.64-0.73-1.47-1.1-2.48-1.1c-1.31,0-2.33,0.46-3.06,1.38s-1.1,2.33-1.1,4.22v9.32h-6.4v-20.08h6.4v1.92\
          c1.6-1.68,3.65-2.52,6.16-2.52C207.83,228.97,209.72,229.74,211.14,231.27z')
          path(d='M245.14,231.27c1.43,1.53,2.14,3.55,2.14,6.06v12.32h-6.36v-10.96c0-1.17-0.32-2.13-0.96-2.86\
          c-0.64-0.73-1.47-1.1-2.48-1.1c-1.31,0-2.33,0.46-3.06,1.38s-1.1,2.33-1.1,4.22v9.32h-6.4v-20.08h6.4v1.92\
          c1.6-1.68,3.65-2.52,6.16-2.52C241.83,228.97,243.72,229.74,245.14,231.27z')
          path(d='M271.57,249.65h-6.4v-1.92c-1.6,1.68-3.65,2.52-6.16,2.52c-2.35,0-4.23-0.77-5.66-2.3c-1.43-1.53-2.14-3.55-2.14-6.06\
          v-12.32h6.36v10.96c0,1.17,0.32,2.13,0.96,2.86s1.47,1.1,2.48,1.1c1.31,0,2.33-0.46,3.06-1.38s1.1-2.33,1.1-4.22v-9.32h6.4V249.65z\
          ')
          path(d='M307.68,231.23c1.47,1.51,2.2,3.46,2.2,5.86v12.56h-6.36v-11.2c0-1.12-0.32-2.02-0.96-2.7c-0.64-0.68-1.44-1.02-2.4-1.02\
          c-1.2,0-2.15,0.43-2.86,1.3s-1.06,2.13-1.06,3.78v9.84h-6.4v-11.2c0-1.12-0.32-2.02-0.96-2.7c-0.64-0.68-1.45-1.02-2.44-1.02\
          c-1.2,0-2.14,0.43-2.82,1.3s-1.02,2.13-1.02,3.78v9.84h-6.4v-20.08h6.4v1.84c1.47-1.63,3.44-2.44,5.92-2.44\
          c2.96,0,5.15,1.13,6.56,3.4c1.73-2.27,4.11-3.4,7.12-3.4C304.39,228.97,306.22,229.72,307.68,231.23z')
          path(d='M333.92,241.25H319.2c0.27,1.2,0.79,2.15,1.56,2.84s1.69,1.04,2.76,1.04c2,0,3.43-0.77,4.28-2.32l5.68,1.16\
          c-0.85,2.08-2.14,3.65-3.86,4.7c-1.72,1.05-3.75,1.58-6.1,1.58c-2.96,0-5.47-0.99-7.52-2.98s-3.08-4.54-3.08-7.66\
          c0-3.09,1.03-5.64,3.08-7.64s4.57-3,7.56-3c2.91,0,5.35,0.97,7.32,2.92s2.99,4.52,3.04,7.72L333.92,241.25L333.92,241.25z\
          M320.97,235.01c-0.8,0.56-1.35,1.33-1.64,2.32h8.28c-0.29-1.04-0.8-1.83-1.52-2.36s-1.56-0.8-2.52-0.8\
          C322.63,234.17,321.77,234.45,320.97,235.01z M320.85,226.97l2.84-6.08h7.6l-4.76,6.08H320.85z')
          path(d='M352,229.45l-0.28,6.4h-1.16c-4.61,0-6.92,2.51-6.92,7.52v6.28h-6.4v-20.08h6.4v3.84c1.65-2.75,3.96-4.12,6.92-4.12\
          C351.1,229.29,351.58,229.34,352,229.45z')
          path(d='M360.91,221.09c0.71,0.72,1.06,1.57,1.06,2.56c0,1.01-0.35,1.86-1.06,2.54c-0.71,0.68-1.59,1.02-2.66,1.02\
          s-1.95-0.34-2.64-1.02s-1.04-1.53-1.04-2.54s0.35-1.87,1.04-2.58s1.57-1.06,2.64-1.06S360.2,220.37,360.91,221.09z M355.05,249.65\
          v-20.08h6.4v20.08H355.05z')
          path(d='M387.52,256.45h-6.4v-8.4c-1.63,1.47-3.71,2.2-6.24,2.2c-2.72,0-5.03-0.99-6.94-2.98s-2.86-4.54-2.86-7.66\
          c0-3.09,0.95-5.64,2.86-7.64c1.91-2,4.22-3,6.94-3c2.53,0,4.61,0.73,6.24,2.2v-1.6h6.4V256.45z M379.66,243.35\
          c0.97-0.97,1.46-2.22,1.46-3.74c0-1.49-0.49-2.73-1.46-3.72s-2.13-1.48-3.46-1.48c-1.41,0-2.57,0.49-3.48,1.46\
          s-1.36,2.22-1.36,3.74c0,1.55,0.45,2.8,1.36,3.76s2.07,1.44,3.48,1.44C377.54,244.81,378.69,244.32,379.66,243.35z')
          path(d='M412.12,249.65h-6.4v-1.92c-1.6,1.68-3.65,2.52-6.16,2.52c-2.35,0-4.23-0.77-5.66-2.3s-2.14-3.55-2.14-6.06v-12.32h6.36\
          v10.96c0,1.17,0.32,2.13,0.96,2.86s1.47,1.1,2.48,1.1c1.31,0,2.33-0.46,3.06-1.38s1.1-2.33,1.1-4.22v-9.32h6.4L412.12,249.65\
          L412.12,249.65z')
          path(d='M436.44,241.25h-14.72c0.27,1.2,0.79,2.15,1.56,2.84s1.69,1.04,2.76,1.04c2,0,3.43-0.77,4.28-2.32l5.68,1.16\
          c-0.85,2.08-2.14,3.65-3.86,4.7c-1.72,1.05-3.75,1.58-6.1,1.58c-2.96,0-5.47-0.99-7.52-2.98s-3.08-4.54-3.08-7.66\
          c0-3.09,1.03-5.64,3.08-7.64s4.57-3,7.56-3c2.91,0,5.35,0.97,7.32,2.92s2.99,4.52,3.04,7.72L436.44,241.25L436.44,241.25z\
          M423.49,235.01c-0.8,0.56-1.35,1.33-1.64,2.32h8.28c-0.29-1.04-0.8-1.83-1.52-2.36s-1.56-0.8-2.52-0.8\
          C425.15,234.17,424.28,234.45,423.49,235.01z')
          path(d='M43.49,289.65h-6.4v-1.6c-1.63,1.47-3.71,2.2-6.24,2.2c-2.72,0-5.03-0.99-6.94-2.98s-2.86-4.54-2.86-7.66\
          c0-3.09,0.95-5.64,2.86-7.64s4.22-3,6.94-3c2.53,0,4.61,0.73,6.24,2.2v-10.32h6.4V289.65z M35.63,283.35\
          c0.97-0.97,1.46-2.22,1.46-3.74c0-1.49-0.49-2.73-1.46-3.72c-0.97-0.99-2.13-1.48-3.46-1.48c-1.41,0-2.57,0.49-3.48,1.46\
          s-1.36,2.22-1.36,3.74c0,1.55,0.45,2.8,1.36,3.76c0.91,0.96,2.07,1.44,3.48,1.44C33.5,284.81,34.65,284.32,35.63,283.35z')
          path(d='M67.8,281.25H53.09c0.27,1.2,0.79,2.15,1.56,2.84s1.69,1.04,2.76,1.04c2,0,3.43-0.77,4.28-2.32l5.68,1.16\
          c-0.85,2.08-2.14,3.65-3.86,4.7c-1.72,1.05-3.75,1.58-6.1,1.58c-2.96,0-5.47-0.99-7.52-2.98c-2.05-1.99-3.08-4.54-3.08-7.66\
          c0-3.09,1.03-5.64,3.08-7.64c2.05-2,4.57-3,7.56-3c2.91,0,5.35,0.97,7.32,2.92c1.97,1.95,2.99,4.52,3.04,7.72v1.64H67.8z\
          M54.85,275.01c-0.8,0.56-1.35,1.33-1.64,2.32h8.28c-0.29-1.04-0.8-1.83-1.52-2.36s-1.56-0.8-2.52-0.8\
          C56.51,274.17,55.65,274.45,54.85,275.01z')
          path(d='M76.01,283.13c0.27,1.57,1.45,2.36,3.56,2.36c0.8,0,1.43-0.15,1.9-0.46s0.7-0.69,0.7-1.14c0-0.75-0.67-1.24-2-1.48\
          l-4.08-0.8c-3.89-0.72-5.84-2.67-5.84-5.84c0-2.05,0.8-3.7,2.4-4.94s3.68-1.86,6.24-1.86c2.45,0,4.49,0.52,6.1,1.56\
          s2.62,2.44,3.02,4.2l-5.84,1.16c-0.11-0.67-0.46-1.23-1.06-1.68c-0.6-0.45-1.37-0.68-2.3-0.68c-0.8,0-1.38,0.15-1.74,0.46\
          s-0.54,0.67-0.54,1.1c0,0.72,0.51,1.19,1.52,1.4l4.72,0.96c1.84,0.4,3.23,1.13,4.16,2.18c0.93,1.05,1.4,2.34,1.4,3.86\
          c0,2.16-0.84,3.83-2.52,5s-3.88,1.76-6.6,1.76c-2.53,0-4.66-0.49-6.38-1.46s-2.74-2.43-3.06-4.38L76.01,283.13z')
          path(d='M120.68,281.25h-14.72c0.27,1.2,0.79,2.15,1.56,2.84s1.69,1.04,2.76,1.04c2,0,3.43-0.77,4.28-2.32l5.68,1.16\
          c-0.85,2.08-2.14,3.65-3.86,4.7c-1.72,1.05-3.75,1.58-6.1,1.58c-2.96,0-5.47-0.99-7.52-2.98c-2.05-1.99-3.08-4.54-3.08-7.66\
          c0-3.09,1.03-5.64,3.08-7.64s4.57-3,7.56-3c2.91,0,5.35,0.97,7.32,2.92s2.99,4.52,3.04,7.72V281.25z M107.73,275.01\
          c-0.8,0.56-1.35,1.33-1.64,2.32h8.28c-0.29-1.04-0.8-1.83-1.52-2.36c-0.72-0.53-1.56-0.8-2.52-0.8\
          C109.39,274.17,108.53,274.45,107.73,275.01z')
          path(d='M142.23,271.27c1.43,1.53,2.14,3.55,2.14,6.06v12.32h-6.36v-10.96c0-1.17-0.32-2.13-0.96-2.86\
          c-0.64-0.73-1.47-1.1-2.48-1.1c-1.31,0-2.33,0.46-3.06,1.38s-1.1,2.33-1.1,4.22v9.32h-6.4v-20.08h6.4v1.92\
          c1.6-1.68,3.65-2.52,6.16-2.52C138.91,268.97,140.8,269.74,142.23,271.27z')
          path(d='M163.61,288.77c-1.84,0.99-3.67,1.48-5.48,1.48c-2.53,0-4.5-0.68-5.9-2.04c-1.4-1.36-2.1-3.35-2.1-5.96v-7.6h-3.64v-5.08\
          h3.64v-5.92h6.4v5.92h5.92v5.08h-5.92v6.96c0,1.95,0.89,2.92,2.68,2.92c1.01,0,1.99-0.27,2.92-0.8L163.61,288.77z')
          path(d='M180.81,269.45l-0.28,6.4h-1.16c-4.61,0-6.92,2.51-6.92,7.52v6.28h-6.4v-20.08h6.4v3.84c1.65-2.75,3.96-4.12,6.92-4.12\
          C179.9,269.29,180.38,269.34,180.81,269.45z')
          path(d='M203.09,281.25h-14.72c0.27,1.2,0.79,2.15,1.56,2.84s1.69,1.04,2.76,1.04c2,0,3.43-0.77,4.28-2.32l5.68,1.16\
          c-0.85,2.08-2.14,3.65-3.86,4.7c-1.72,1.05-3.75,1.58-6.1,1.58c-2.96,0-5.47-0.99-7.52-2.98c-2.05-1.99-3.08-4.54-3.08-7.66\
          c0-3.09,1.03-5.64,3.08-7.64s4.57-3,7.56-3c2.91,0,5.35,0.97,7.32,2.92s2.99,4.52,3.04,7.72L203.09,281.25L203.09,281.25z\
          M190.13,275.01c-0.8,0.56-1.35,1.33-1.64,2.32h8.28c-0.29-1.04-0.8-1.83-1.52-2.36s-1.56-0.8-2.52-0.8\
          C191.79,274.17,190.93,274.45,190.13,275.01z')
          path(d='M225.98,271.97c1.91,2,2.86,4.55,2.86,7.64c0,3.12-0.95,5.67-2.86,7.66s-4.22,2.98-6.94,2.98c-2.53,0-4.61-0.73-6.24-2.2\
          v8.4h-6.4v-26.88h6.4v1.6c1.63-1.47,3.71-2.2,6.24-2.2C221.76,268.97,224.08,269.97,225.98,271.97z M221.21,283.37\
          c0.91-0.96,1.36-2.21,1.36-3.76c0-1.52-0.45-2.77-1.36-3.74s-2.07-1.46-3.48-1.46c-1.33,0-2.49,0.49-3.46,1.48\
          c-0.97,0.99-1.46,2.23-1.46,3.72c0,1.52,0.49,2.77,1.46,3.74s2.13,1.46,3.46,1.46C219.14,284.81,220.3,284.33,221.21,283.37z')
          path(d='M246.93,269.45l-0.28,6.4h-1.16c-4.61,0-6.92,2.51-6.92,7.52v6.28h-6.4v-20.08h6.4v3.84c1.65-2.75,3.96-4.12,6.92-4.12\
          C246.02,269.29,246.5,269.34,246.93,269.45z')
          path(d='M255.83,261.09c0.71,0.72,1.06,1.57,1.06,2.56c0,1.01-0.35,1.86-1.06,2.54c-0.71,0.68-1.59,1.02-2.66,1.02\
          s-1.95-0.34-2.64-1.02s-1.04-1.53-1.04-2.54s0.35-1.87,1.04-2.58c0.69-0.71,1.57-1.06,2.64-1.06S255.12,260.37,255.83,261.09z\
          M249.97,289.65v-20.08h6.4v20.08H249.97z')
          path(d='M266.21,283.13c0.27,1.57,1.45,2.36,3.56,2.36c0.8,0,1.43-0.15,1.9-0.46s0.7-0.69,0.7-1.14c0-0.75-0.67-1.24-2-1.48\
          l-4.08-0.8c-3.89-0.72-5.84-2.67-5.84-5.84c0-2.05,0.8-3.7,2.4-4.94s3.68-1.86,6.24-1.86c2.45,0,4.49,0.52,6.1,1.56\
          c1.61,1.04,2.62,2.44,3.02,4.2l-5.84,1.16c-0.11-0.67-0.46-1.23-1.06-1.68s-1.37-0.68-2.3-0.68c-0.8,0-1.38,0.15-1.74,0.46\
          s-0.54,0.67-0.54,1.1c0,0.72,0.51,1.19,1.52,1.4l4.72,0.96c1.84,0.4,3.23,1.13,4.16,2.18s1.4,2.34,1.4,3.86\
          c0,2.16-0.84,3.83-2.52,5s-3.88,1.76-6.6,1.76c-2.53,0-4.66-0.49-6.38-1.46s-2.74-2.43-3.06-4.38L266.21,283.13z')
          path(d='M301.49,281.25h-14.72c0.27,1.2,0.79,2.15,1.56,2.84s1.69,1.04,2.76,1.04c2,0,3.43-0.77,4.28-2.32l5.68,1.16\
          c-0.85,2.08-2.14,3.65-3.86,4.7c-1.72,1.05-3.75,1.58-6.1,1.58c-2.96,0-5.47-0.99-7.52-2.98s-3.08-4.54-3.08-7.66\
          c0-3.09,1.03-5.64,3.08-7.64s4.57-3,7.56-3c2.91,0,5.35,0.97,7.32,2.92s2.99,4.52,3.04,7.72L301.49,281.25L301.49,281.25z\
          M288.53,275.01c-0.8,0.56-1.35,1.33-1.64,2.32h8.28c-0.29-1.04-0.8-1.83-1.52-2.36s-1.56-0.8-2.52-0.8\
          C290.19,274.17,289.33,274.45,288.53,275.01z')
          path(d='M309.69,283.13c0.27,1.57,1.45,2.36,3.56,2.36c0.8,0,1.43-0.15,1.9-0.46s0.7-0.69,0.7-1.14c0-0.75-0.67-1.24-2-1.48\
          l-4.08-0.8c-3.89-0.72-5.84-2.67-5.84-5.84c0-2.05,0.8-3.7,2.4-4.94s3.68-1.86,6.24-1.86c2.45,0,4.49,0.52,6.1,1.56\
          c1.61,1.04,2.62,2.44,3.02,4.2l-5.84,1.16c-0.11-0.67-0.46-1.23-1.06-1.68s-1.37-0.68-2.3-0.68c-0.8,0-1.38,0.15-1.74,0.46\
          s-0.54,0.67-0.54,1.1c0,0.72,0.51,1.19,1.52,1.4l4.72,0.96c1.84,0.4,3.23,1.13,4.16,2.18s1.4,2.34,1.4,3.86\
          c0,2.16-0.84,3.83-2.52,5s-3.88,1.76-6.6,1.76c-2.53,0-4.66-0.49-6.38-1.46s-2.74-2.43-3.06-4.38L309.69,283.13z')
