@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  width: 100%;
  font-size: 16px;
  line-height: 16px;
  font-family: "Space Grotesk", sans-serif;
  font-style: normal;
  font-optical-sizing: auto;
  -webkit-font-smoothing: antialiased;
  color: #222222;
  background: #fafafa;
}

a {
  color: inherit;
  text-decoration: none;
}

.response {
  width: 980px;
  margin: 0 auto;
}
@media all and (max-width: 1120px) {
  .response {
    width: 100%;
  }
}

.vertical {
  display: table-cell;
  vertical-align: middle;
}

.app {
  width: 100%;
}

ul {
  list-style-type: none;
}

h1 {
  font-size: 45px;
  line-height: calc(45px * 1);
  margin-bottom: calc(45px * 0.6);
  font-weight: 700;
}
h1 span.region {
  font-style: italic;
  color: #00dfa2;
}

.hidden {
  display: none;
}

header {
  height: 90px;
  width: 100%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  color: white;
  padding: 0 70px;
  position: fixed;
  z-index: 99;
}
header .logo,
header .menu,
header .icons {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  color: white;
}
header .logo {
  width: 90px;
  height: 100%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
header .logo svg {
  fill: white;
}
header.scroll {
  background: #222222;
}
header .menu {
  width: calc(100% - 270px);
  height: 100%;
}
header .menu ul.parent {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}
@media all and (max-width: 1024px) {
  header .menu ul.parent {
    display: none;
  }
}
header .menu ul.parent li.parent {
  height: 100%;
  padding: 0 10px;
}
header .menu ul.parent li.parent > a {
  display: block;
  width: 100%;
  height: 100%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
header .menu ul.parent li.parent > a:hover {
  text-decoration: underline;
  text-underline-offset: 10px;
  text-decoration-thickness: 1px;
  text-decoration-color: white;
}
header .icons {
  width: 180px;
  height: 100%;
}
header .icons .icon {
  height: 90px;
  margin-right: 15px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
header .icons .icon:last-child {
  margin-right: 0;
}
header .icons .icon.empty a {
  background: none;
  color: white;
}
header .icons .icon a {
  background: white;
  width: 50px;
  height: 50px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  color: #222222;
  border-radius: 50px;
  box-shadow: 0 0 0 2px white;
}
header .icons .icon a span {
  font-size: 30px;
}

main {
  width: 100%;
}
main section {
  width: 100%;
  padding: 70px;
}
main section:first-child {
  padding-top: calc(70px + 90px);
}
@media all and (max-width: 700px) {
  main section {
    padding: 20px;
  }
  main section:first-child {
    padding-top: calc(20px + 90px);
  }
}
main section article h2 {
  font-size: 40px;
  line-height: calc(40px * 1.5);
  margin-bottom: calc(40px * 0.6);
  font-weight: 700;
}
main section article .description {
  margin-bottom: 50px;
}
main section article .description p,
main section article .description ul {
  font-size: 16px;
  line-height: calc(16px * 1.5);
  margin-bottom: calc(16px * 1.5);
}
main section article .description p:first-child,
main section article .description ul:first-child {
  font-size: 24px;
  line-height: calc(24px * 1.5);
  margin-bottom: calc(24px * 1.5);
  font-weight: 600;
  font-style: italic;
}
main section article .description p:last-child,
main section article .description ul:last-child {
  margin-bottom: 0;
}
main section article .description ul.list {
  display: grid;
  grid-auto-flow: row;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  padding: 10px 0;
  gap: 30px;
}
@media all and (max-width: 700px) {
  main section article .description ul.list {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(6, 1fr);
  }
}
main section article .description ul.list li {
  padding-left: 35px;
  display: block;
  position: relative;
  font-weight: 700;
}
main section article .description ul.list li:before {
  content: "";
  font-family: "Material Symbols Outlined", sans-serif;
  font-size: 30px;
  width: 30px;
  height: 30px;
  position: absolute;
  left: 0;
  top: 0px;
  font-weight: normal;
}
main section article .description ul.list.detailed li {
  padding-left: 100px;
}
main section article .description ul.list.detailed li h4 {
  font-size: 24px;
  line-height: calc(24px * 1);
  margin-bottom: calc(24px * 0.6);
  font-weight: 700;
}
main section article .description ul.list.detailed li p {
  font-weight: normal;
}
main section article .description ul.list.detailed li:before {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80px;
  height: 80px;
  font-size: 80px;
}
main section article .description ul.list.detailed.numbered li {
  counter-increment: my-awesome-counter;
}
main section article .description ul.list.detailed.numbered li:before {
  content: counter(my-awesome-counter);
  box-shadow: 0 0 0 4px;
  font-size: 40px;
  border-radius: 80px;
  font-family: "Space Grotesk", sans-serif;
  font-weight: 700;
}
main section article .description ul.partners {
  font-size: 0;
  text-align: center;
}
main section article .description ul.partners li {
  width: 120px;
  height: 120px;
  margin-right: 10px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
main section article .description ul.partners li:last-child {
  margin-right: 0;
}
main section article .description ul.partners li svg {
  width: 100%;
}
main section article .buttons {
  text-align: center;
}
main section article .buttons button {
  font-family: "Space Grotesk", sans-serif;
  font-size: 16px;
  line-height: calc(16px * 1.5);
  background: #222222;
  border: 0;
  border-radius: 40px;
  color: white;
  margin-right: 10px;
}
main section article .buttons button:last-child {
  margin-right: 0;
}
main section article .buttons button a {
  text-decoration: none;
  color: inherit;
  display: block;
  width: 100%;
  height: 100%;
  padding: 15px 30px;
  font-weight: 700;
}
main section article .buttons button.empty {
  background: none;
  box-shadow: 0 0 0 2px;
  color: #222222;
}
main section.page {
  padding: 0 !important;
}
main section.page .heading {
  background: #003398;
  width: 100%;
  display: table;
  color: white;
  padding: 70px 45px;
  padding-top: 160px;
  text-align: center;
}
main section.page .heading h1 {
  font-size: 45px;
  line-height: calc(45px * 1);
  font-weight: 700;
  text-align: center;
  width: 80%;
  margin: 0 auto;
  margin-bottom: 20px;
}
main section.page .heading .breadcrumbs span:after {
  content: " > ";
  font-weight: bold;
  opacity: 0.25;
}
main section.page .heading .breadcrumbs span:last-child:after {
  content: "";
}
main section.page .inner {
  padding: 70px;
}
main section.hero {
  height: 100vh;
  background: #222222;
  color: white;
  position: relative;
}
main section.hero:before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: url(../images/friends.jpg);
  background-size: cover;
  background-position: center;
  z-index: 1;
}
main section.hero:after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(34, 34, 34, 0.75);
  z-index: 1;
}
main section.hero .response {
  display: grid;
  grid-auto-flow: row;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(1, 1fr);
  height: 100%;
  position: relative;
  z-index: 2;
}
main section.hero .response .left, main section.hero .response .right {
  height: 100%;
  display: table;
  padding: 20px;
}
main section.hero .response .left {
  text-align: right;
}
main section.hero .response .left .description {
  margin-bottom: 0;
}
main section.hero .response .left ul.partners li.partner {
  width: 60px;
  height: 60px;
}
main section.hero .response .left ul.partners li.partner svg [id*=txt] *, main section.hero .response .left ul.partners li.partner svg [id*=dark] * {
  fill: white !important;
}
main section.hero .response .right .card {
  width: 350px;
  border-radius: 18px;
}
@media all and (max-width: 500px) {
  main section.hero .response .right .card {
    width: 100%;
  }
}
main section.hero .response .right .card .head {
  background: #003398;
  width: 100%;
  height: 100px;
  border-radius: 18px 18px 0 0;
}
main section.hero .response .right .card .form {
  background: white;
  width: 100%;
  text-align: center;
  padding: 20px;
  border-radius: 0 0 18px 18px;
  color: #222222;
}
@media all and (max-width: 900px) {
  main section.hero {
    height: initial;
  }
  main section.hero .response {
    display: block;
  }
  main section.hero .response .left, main section.hero .response .right {
    text-align: center;
    width: 100%;
  }
  main section.hero .response .right .card {
    margin: 0 auto;
  }
}
main section.hero article .buttons button {
  background: white;
  color: #222222;
}
main section.hero article .buttons button.empty {
  background: none;
  box-shadow: 0 0 0 2px;
  color: white;
}

footer {
  color: white;
  background: #222222;
  padding: 70px;
}
footer .menu {
  margin-bottom: 50px;
}
footer .menu ul.parent {
  display: grid;
  grid-auto-flow: row;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(1, 1fr);
  gap: 20px;
}
@media all and (max-width: 700px) {
  footer .menu ul.parent {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 0fr);
  }
  footer .menu ul.parent li.parent:nth-child(2) {
    grid-column: 2;
    grid-row: 1/3;
  }
}
footer .menu ul.parent li.parent > a {
  margin-bottom: 10px;
  display: block;
  font-weight: 700;
  color: #ff0060;
}
footer .menu ul.parent li.parent ul.child li.child > a {
  margin-bottom: 5px;
  display: block;
  font-size: 14px;
}
footer .menu ul.parent li.parent ul.child.partners li.child {
  height: 80px;
  width: 80px;
  padding: 5px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
footer .menu ul.parent li.parent ul.child.partners li.child svg {
  width: 100%;
}
footer .menu ul.parent li.parent ul.child.partners li.child svg [id*=txt] *, footer .menu ul.parent li.parent ul.child.partners li.child svg [id*=dark] * {
  fill: white !important;
}
footer .credits {
  text-align: center;
  font-size: 14px;
}

form fieldset {
  border: 0;
}
form h3 {
  font-size: 16px;
  line-height: 16px;
  margin-bottom: calc(16px * 1.5);
  text-align: left;
}
form .form-group {
  margin-bottom: 20px;
  position: relative;
}
form .form-group.hidden {
  display: none;
}
form .form-group label {
  display: block;
  font-size: 11px;
}
form .form-group input[type=text] {
  width: 100%;
  height: 30px;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 0 10px;
  font-family: "Space Grotesk", sans-serif;
  position: relative;
  background: none !important;
  z-index: 2;
  outline: none;
}
form .form-group input[type=text]::placeholder {
  visibility: hidden;
}
form .form-group input[type=text].is-invalid {
  border: 1px solid red;
  color: red !important;
}
form .form-group input[type=text].is-valid {
  border: 1px solid #222222;
  color: #222222 !important;
}
form .form-group input[type=file] {
  width: 100%;
  background: #F3F3F3;
  display: flex;
  padding: 10px;
  border-radius: 8px;
  font-family: "Space Grotesk", sans-serif;
  font-size: 10px;
}
form .form-group input:-webkit-autofill,
form .form-group input input:-webkit-autofill:hover,
form .form-group input input:-webkit-autofill:focus,
form .form-group input input:-webkit-autofill:active {
  -webkit-background-clip: text;
  transition: background-color 5000s ease-in-out 0s;
}
form .form-group canvas {
  background: #F3F3F3;
  border: 0 !important;
  border-radius: 8px;
}
form .form-group .pricing {
  font-size: 12px;
  display: inline-block;
}
form .form-group .pricing table {
  width: 100%;
}
form .form-group .pricing table tr td {
  text-align: right;
}
form .form-group .pricing table tr td.price {
  font-weight: 700;
}
form .form-group .pricing table tr.rac {
  font-weight: 700;
  font-size: 18px;
}
form .form-group .form-check {
  display: inline-block;
  margin: 5px;
  padding: 0;
}
form .form-group .form-check:has(.toggle-switch) label.toggle-switch.checked {
  background: none !important;
  color: inherit !important;
  box-shadow: none !important;
}
form .form-group .form-check:has(.toggle-switch) label.toggle-switch:hover {
  box-shadow: none !important;
}
form .form-group .form-check .form-check-label {
  position: relative;
  height: 40px;
  width: auto;
  border: 0;
  padding: 0 10px;
  background: white;
  box-shadow: 0 0 0 1px #CCC;
  border-radius: 8px;
  font-size: 14px;
  text-align: center;
  font-weight: 700;
  display: inline-block;
  line-height: 40px;
  cursor: pointer !important;
}
form .form-group .form-check .form-check-label.checked {
  background: #222222 !important;
  color: white !important;
  box-shadow: 0 0 0 2px #222222;
}
form .form-group .form-check .form-check-label:hover {
  box-shadow: 0 0 0 2px #222222;
}
form .form-group .form-check .form-check-label input[type=checkbox],
form .form-group .form-check .form-check-label input[type=radio] {
  width: 0;
  height: 0;
  visibility: hidden;
  left: 0;
  right: 0;
  cursor: pointer;
  display: none;
}
form .form-group .form-check .form-check-label input[type=checkbox] + *,
form .form-group .form-check .form-check-label input[type=radio] + * {
  color: white;
}
form .form-group .form-check .form-check-label input[type=checkbox]:checked:after,
form .form-group .form-check .form-check-label input[type=radio]:checked:after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  visibility: visible;
  top: 0;
  left: 0;
  box-shadow: 0 0 0 1px #222222;
  border-radius: 4px;
}
form .form-group .form-check .toggle-switch {
  align-items: center;
  padding: 0 !important;
  align-items: center;
  padding: 0 !important;
  height: initial;
  width: 100%;
  box-shadow: initial;
  font-size: 13px;
  line-height: 16px;
  text-align: justify !important;
  font-weight: 300;
  text-align: left;
  outline: none;
}
form .form-group .form-check .toggle-switch.checked {
  background: initial !important;
  color: #222222 !important;
}
form .form-group .form-check .toggle-switch__input {
  border: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap;
}
form .form-group .form-check .toggle-switch__input:checked + .feedback + .toggle-switch__slider {
  background-color: #222222;
}
form .form-group .form-check .toggle-switch__input:checked + .feedback + .toggle-switch__slider::before {
  transform: translate(22px, -50%);
}
form .form-group .form-check .toggle-switch__input:disabled + .toggle-switch__slider {
  opacity: 0.5;
  cursor: not-allowed;
}
form .form-group .form-check .toggle-switch__input:disabled + .toggle-switch__slider::before {
  background-color: rgba(32, 37, 50, 0.14);
}
form .form-group .form-check .toggle-switch__slider {
  box-sizing: border-box;
  margin-right: 9px;
  width: 50px;
  height: 30px;
  border-radius: 30px;
  background-color: #CCC;
  box-shadow: inset 0 1px 3px 0 rgba(0, 0, 0, 0.2);
  display: inline-block;
  cursor: pointer;
  top: 10px;
  float: left;
}
form .form-group .form-check .toggle-switch__slider::before {
  transition: transform 75ms ease-in-out;
  content: "";
  display: block;
  width: 24px;
  height: 24px;
  background-color: #fff;
  box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.25), 0 2px 8px 0 rgba(32, 37, 50, 0.16);
  position: absolute;
  border-radius: 100%;
  top: 15px;
  transform: translate(4px, -50%);
}
form .form-group .form-check .toggle-switch:after {
  content: "";
}
form .form-group .form-check .toggle-switch .feedback {
  display: none;
}
form .form-group .form-check.iconify .form-check-label {
  height: 90px;
  width: 90px;
  text-align: center;
  padding-top: 10px;
  font-size: 10px;
  line-height: 11px;
  overflow: hidden;
  color: #222222;
  background: white;
  text-overflow: ellipsis;
}
form .form-group .form-check.iconify .form-check-label:before {
  content: "";
  font-family: "Material Symbols Outlined";
  position: absolute;
  width: 80px;
  bottom: 0;
  left: 0;
  font-size: 35px;
  font-weight: 300;
  padding: 5px;
  color: #222222;
  z-index: 3;
  line-height: 45px;
}
form .form-group .form-check.iconify .form-check-label .feedback {
  display: none;
}
form .form-group .form-check.iconify .form-check-label.checked {
  background: #222222 !important;
  color: white !important;
  box-shadow: 0 0 0 2px #222222;
}
form .form-group .form-check.iconify .form-check-label.checked:before {
  color: white;
}
form .form-group .form-check.iconify [for^=type_produit0]:before {
  content: "";
}
form .form-group .form-check.iconify [for^=type_produit1]:before {
  content: "";
}
form .form-group .form-check.iconify [for^=type_produit2]:before {
  content: "";
}
form .form-group .form-check.iconify [for^=type_produit3]:before {
  content: "";
}
form .form-group .form-check.iconify [for^=type_produit4]:before {
  content: "";
}
form .form-group .form-check.iconify [for^=type_produit5]:before {
  content: "";
}
form .form-group .form-check.iconify [for^=type_resident1]:before {
  content: "";
}
form .form-group .form-check.iconify [for^=type_habitation0]:before {
  content: "";
}
form .form-group .form-check.iconify [for^=type_habitation1]:before {
  content: "";
}
form .form-group .form-check.iconify [for^=type_renovation0]:before {
  content: "";
}
form .form-group .form-check.iconify [for^=type_renovation1]:before {
  content: "";
}
form .form-group .form-check.iconify [for^=type_renovation2]:before {
  content: "";
}
form .form-group .form-check.iconify [for^=type_renovation3]:before {
  content: "";
}
form .form-group .form-check.iconify [for^=type_renovation4]:before {
  content: "";
}
form .form-group .form-check.iconify [for^=type_renovation5]:before {
  content: "";
}
form .form-group .form-check.iconify [for^=type_renovation6]:before {
  content: "";
}
form .form-group .form-check.numberify .form-check-label {
  height: 40px;
  width: 40px;
  text-align: center;
  font-size: 25px;
  line-height: 40px;
  overflow: hidden;
  color: #222222;
  background: white;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px 0px, rgba(0, 0, 0, 0.3) 0px 30px 60px -10px;
}
form .form-group small,
form .form-group .feedback {
  display: block;
  font-size: 9px;
  line-height: 9px;
  margin-top: 5px;
  position: relative;
  text-align: left;
}
form .form-group small:before,
form .form-group .feedback:before {
  content: "";
  border: 1px solid;
  width: 10px;
  height: 10px;
  position: relative;
  top: 2px;
  left: 0;
  display: inline-block;
  margin-right: 5px;
  border-radius: 10px;
  font-family: "Material Symbols Outlined";
  line-height: 10px;
  text-align: center;
  font-size: 10px;
}
form .form-group small:nth-child(3),
form .form-group .feedback:nth-child(3) {
  display: none;
}
form .form-group .invalid-feedback {
  color: red;
}
form .form-group .invalid-feedback:before {
  content: "";
}
form .form-group .valid-feedback {
  color: #222222;
}
form .form-group .valid-feedback:before {
  content: "";
}
form .form-group button {
  background: #222222;
  font-family: "Space Grotesk", sans-serif;
  color: #fafafa;
  padding: 5px 15px;
  border-radius: 30px;
  border: 0;
}
form .form-group button:disabled {
  opacity: 0.2;
}
form .form-group button#clear-signature {
  text-transform: uppercase;
  border-radius: 3px;
  font-size: 9px;
  color: #222222;
  background: none;
  cursor: pointer;
}
form .form-group:has(input[type=text]) label {
  display: block;
  position: absolute;
  height: 30px;
  line-height: 30px;
  padding: 0 10px;
  font-size: 11px;
}
form .form-group:has(input[type=text]) label:has(+ [aria-live=polite] + .formControls input:focus),
form .form-group:has(input[type=text]) label:has(+ input:focus),
form .form-group:has(input[type=text]) label:has(+ [aria-live=polite] + .formControls input:not(:placeholder-shown)),
form .form-group:has(input[type=text]) label:has(+ .formControls input:not(:placeholder-shown)) {
  background: white;
  zoom: 0.75;
  left: 13px;
  top: -8px;
  z-index: 3;
  height: initial !important;
  line-height: initial !important;
}